@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Welcome!</h1>
            <p>This is Knockout Sports. A free to play, last man standing type game where one wrong move and you're out!</p>
        </div>
    </div>
</div>